 <header>
  <h1>Tech Blog</h1>
</header>

<div class="container">
  <a href="/"><button>Home</button></a>
  <a href="signup"><button>Sign Up</button></a>
  <a href="dashboard"></a><button>Dashboard</button></a> 
</div>
<article>
  <header>
    <h2>Story Item</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptatum velit nulla provident eos ipsam facere
    inventore eum. Consectetur laboriosam asperiores expedita repellendus esse iste consequatur quia doloremque cum
    praesentium.
  </p>
</article>

