
  <a href="/login"><button>Login</button></a></li>
  <button>Sign Up</button>
  <button>Home</button>


<header>
  <h2>Tech Blog</h2>
</header>

<article>
  <header>
    <h2>Story Item</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptatum velit nulla provident eos ipsam facere
    inventore eum. Consectetur laboriosam asperiores expedita repellendus esse iste consequatur quia doloremque cum
    praesentium.
  </p>
</article>